#Stemoverzicht
## Partij: {{ partij_1 }}
Aantal stemmen: {{ stemmen_partij_1 }}
## Partij: {{ partij_2 }}
Aantal stemmen: {{ stemmen_partij_2 }}
## Partij: {{ partij_3 }}
Aantal stemmen: {{ stemmen_partij_3 }}
## Partij: {{ partij_4 }}
Aantal stemmen: {{ stemmen_partij_4 }}
## Partij: {{ partij_5 }}
Aantal stemmen: {{ stemmen_partij_5 }}


